{%extends "Plantilla.html" %}
{%block body%}
<link rel="stylesheet" href="{{url_for('static', filename='css/nav_lateral_stile.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/estilos_clientes.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/Nuevo_Registro.css')}}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="{{url_for('static', filename='css/estilos_tabla.css')}}">
<div class="Contenedor">

    
</div>
<div class="Contenido">

    
    {% if contenido == True%}
    <div class="sin_contenido">

        <h2>SIN CONTENIDO</h2>
        <img src="{{url_for('static', filename='img/No_hay_contenido.svg')}}" id="no_hay_contenido" alt="">
    </div>
    {%else%}
    <div class="Tabla_Container">
        <div class="herramientas">
            <div class="tools">
                <ul>
                    <li>
                        <span><input type="checkbox"></span>
                    </li>
                    <li>
                        <button>
                            <b class="material-icons">add_circle</b>
                        </button>
                    </li>
                    <li>
                        <button>
                            <b class="material-icons">edit</b>
                        </button>
                    </li>
                    <li>
                        <button>
                            <b class="material-icons">delete</b>
                        </button>
                    </li>
                    <li>
                        <button>
                            <b class="material-icons">share</b>
                        </button>
                    </li>
                </ul>
            </div>
            
            <div class="buscador">
                <input type="text">
            </div>
        </div>
        
        <table >
            <thead>
                <tr>
                    <td class="check_tabla">
                        <span><input type="checkbox" name="" id=""></span>
                    </td>
                    {%for i in dat_colum%}
                    
                    <td>
                        <b>Estado</b>
                    </td>
                    <td>
                        {{i}}
                    </td>
                    {%endfor%}
                    <td>
                        Acción
                    </td>
                </tr>



            </thead>
            <tbody>

                {%for i in Clientes%}
                <tr>
                    <td class="check_tabla">
                        <span><input type="checkbox" name="" id=""></span>
                    </td>
                    <td>
                        <span class="estado"></span>
                    </td>
                    <td>
                        {{i.1}}
                    </td>
                    <td>
                        {{i.2}}
                    </td>
                    <td>
                        {{i.3}}
                    </td>
                    <td>
                        {{i.4}}
                    </td>
                    <td>
                        {{i.5}}
                    </td>
                    <td>
                        {{i.6}}
                    </td>
                    <td>
                        {{i.7}}
                    </td>
                    <td>
                        {{i.8}}
                    </td>
                    <td>
                        {{i.9}}
                    </td>
                    <td>
                        {{i.10}}
                    </td>
                    <td>
                        {{i.11}}
                    </td>
                    <td>
                        {{i.12}}
                    </td>
                    <td>
                        {{i.13}}
                    </td>
                    <td>
                        <a href="/Editar/{{i.0}}">editar</a>
                        <a href="/Eliminar/{{i.0}}">eliminar</a>
                    </td>
                </tr>

                {%endfor%}

            </tbody>
        </table>
        <div class="footer_tabla">
            <div class="lista_items">
                <select name="n-entradas" id="n-entradas">
                    <option value="15">5</option>
                    <option value="10" selected>10</option>
                    <option value="15">15</option>
                </select>
            </div>
            <div class="paginas">
                <ul>
                    <li><button>2</button></li>
                    <li><button>2</button></li>
                    <li><button>2</button></li>
                    <li><span>...</span></li>
                    <li><button>2</button></li>
                    <li><button>2</button></li>
                </ul>
            </div>
        </div>
    </div>
    {%endif%}

    <div class="aparece" id="nuevoU">
        <div>

            <form action="/Cliente_Nuevo" method="POST">

                <div class="ContenedorN" id="">
                    <h2 class="titulo">
                        <b>Ingrese los datos solicitados.</b>
                    </h2>
                    <div class="seccion">
                        <input type="text" name="Nombre_Completo" autocomplete="off" required>
                        <label for="Nombre_Completo" class="Label_Nombre_Completo">
                            <span class="contenido_Nombre_Completo">Nombre Completo.</span>
                        </label>
                    </div>
                    <div class="seccion">
                        <input type="text" name="Telefono" autocomplete="off" required>
                        <label for="Telefono" class="Label_Telefono">
                            <span class="contenido_Telefono">Telefono.</span>
                        </label>
                    </div>





                    <div class="seccion">
                        <input type="text" name="Correo" autocomplete="off" required>
                        <label for="Correo" class="Label_Correo">
                            <span class="contenido_Correo">Correo.</span>
                        </label>
                    </div>

                    <div class="seccion">
                        <input type="text" name="Cedula" autocomplete="off" required>
                        <label for="Cedula" class="Label_Cedula">
                            <span class="contenido_Cedula">Cedula.</span>
                        </label>
                    </div>

                    <div class="seccion">
                        <input type="text" name="ID" autocomplete="off" required>
                        <label for="ID" class="Label_ID">
                            <span class="contenido_ID">Codigo de seguridad</span>
                        </label>
                    </div>
                    <div class="seccion">
                        <input type="text" name="Fecha_Afiliacion" autocomplete="off" required>
                        <label for="Fecha_Afiliacion" class="LabelFecha_Afiliacion">
                            <span class="contenido_Fecha_Afiliacion">Fecha de afiliación.</span>
                        </label>
                    </div>

                    <button type="submit" class="btn_guardar">
                        Guardar

                    </button>
                    <div class="salir">
                        <p id="salir">Cancelar</p>
                    </div>

                    <hr id="diviciona">


                </div>

            </form>
        </div>


    </div>







</div>
<script src="{{url_for('static', filename='js/menu.js')}}"></script>
<script src="{{url_for('static', filename='js/NuevoCliente.js')}}"></script>


{%endblock%}